.gesture-wheel {
  border: 2px solid green;
  border-radius: 50%;
  height: 300px;
  margin: 50px;
  position: relative;
  width: 300px;
}

.gesture-wheel.user-gesture .gesture-container:hover {
  background-color: lightblue;
}

.gesture-wheel.user-gesture .gesture-container.selected {
  background-color: blue;
}

.gesture-wheel.computer-selected .gesture-container.highlight {
  background-color: lightyellow;
}

.gesture-wheel.computer-selected .gesture-container.selected {
  background-color: yellow;
}

/* 

*/
.gesture-container:nth-child(1) {
  left: 100px;
  top: -50px;
}

.gesture-container:nth-child(2) {
  left: 243px;
  top: 70px;
}

.gesture-container:nth-child(3) {
  left: 188px;
  top: 221px;
}

.gesture-container:nth-child(4) {
  left: 12px;
  top: 221px;
}

.gesture-container:nth-child(5) {
  left: -43px;
  top: 70px;
}

.gesture-container {
  background-color: beige;
  border: 2px solid green;
  border-radius: 50%;
  height: 100px;
  position: absolute;
  width: 100px;
  text-align: center;
  z-index: 1;
}

.gesture {
  position: absolute;
  top: 8px;
  left: 8px;
}
